
<span>Server Test Client</span>
<div id="messages"></div>
<input id="chat-input" type="text"></input>

<button id="playButton">Play</button>
<button id="hbButton">Send Heartbeat</button>

<br></br>

<video src="media/samplevideo.mp4" controls></video>
